
<div class="title-container">
  <h1>All Recipes</h1>
  <% if user_signed_in? %>
    <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-default" %>
  <% end %>
</div>
<p id="notice"><%= notice %></p>

<div class= "recipes" >
  <% @recipes.each do |recipe| %>
    <% if recipe.published %>
      <div class= "recipe">
        <div class= "thumbnail">
          <div class="caption">
            <h3><%= link_to truncate(recipe.title), recipe %></h3>
            <p><%= truncate(recipe.summary, length: 150) %></p>
            <%# <% if is_favourite? %>
              <%#= link_to '', recipe, class: 'glyphicon glyphicon-star' %>
            <%# <% else %>
              <%#= link_to '', recipe, class: 'glyphicon glyphicon-star-empty' %>
            <%# <% end %>
            <% if recipe.picture.attached? %>
              <%= image_tag recipe.picture if recipe.picture.attached? %>
            <% else %>
              <img src="https://picsum.photos/200" class="card-img-top" alt="Food is good">
            <% end %>

            <div class="btn-container">
              <div class= "buttons">
                <% if can? :edit, recipe %>
                  <%= link_to 'Edit', edit_recipe_path(recipe), class: 'btn btn-success' %>
                <% end %>
                <% if can? :destroy, recipe %>
                  <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
