
<h3>Search Result</h3>  
    <% @results.each do |result| %>  
        <p id="notice"><%= notice %></p>
<h3><%= link_to truncate(result.title), result %></h3>
<p>
  <strong>Summary:</strong>
  <%= result.summary %>
</p>

<p>
  <strong>Method:</strong>
  <%= result.method %>
</p>

<p>
  <strong>Body:</strong>
  <%= result.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= result.published %>
</p>
    <% end %>


    


