
<div class="title-container">
  <h1>User Management</h1>
</div>
<p id="notice"><%= notice %></p>

<div class= "container" >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Admin?</th>
        <th scope="col">Mod?</th>
        <th scope="col">Login Attempts</th>
        <th scope="col">Created</th>
        <th scope="col" colspan='3'></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= link_to user.username, users_path(user) %></th>
          <td><%= user.email %></td>
          <td><%= user.is_admin %></td>
          <td><%= user.is_moderator %></td>
          <td><%= user.is_admin %></td>
          <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-success' %></td>
          <td><%= link_to 'Destroy', users_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>